body {
  font-family: "Punctuation SC", "Inter", ui-sans-serif, system-ui, "PingFang SC", "Noto Sans CJK SC", "Noto Sans SC", "Heiti SC", "DengXian", "Microsoft YaHei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.app-page {
  .main-title {
    border-bottom: 1px solid #fff;
    padding: 10px 20px;
    color: #000;
    background: #fff;
    font-size: 16px;
    font-weight: 700;
  }

  .main-body {
    padding: 20px;
    position: relative;
  }
}

.text-center .arco-input {
  text-align: center !important;
}

.arco-spin {
  display: block !important;
}
